<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="QuanLyKTX.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="desktop-k0913aq\sqlexpress.DBQuanLyKyTucXa.dbo" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-K0913AQ\SQLEXPRESS;integrated security=SSPI;initial catalog=DBQuanLyKyTucXa" />
    <add name="localhost_DBQuanLyKyTucXa_Connection" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-K0913AQ\SQLEXPRESS;integrated security=SSPI;initial catalog=DBQuanLyKyTucXa" />
    <add name="QuanLyKTX.Properties.Settings.DBQuanLyKyTucXaConnectionString"
      connectionString="Data Source=DESKTOP-K0913AQ\SQLEXPRESS;Initial Catalog=DBQuanLyKyTucXa;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="DBQuanLyKyTucXaEntities" connectionString="metadata=res://*/UserControls.UCTroGiup.test.csdl|res://*/UserControls.UCTroGiup.test.ssdl|res://*/UserControls.UCTroGiup.test.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-K0913AQ\SQLEXPRESS;initial catalog=DBQuanLyKyTucXa;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="DBQuanLyKyTucXaEntities1" connectionString="metadata=res://*/UserControls.UCTroGiup.Model1.csdl|res://*/UserControls.UCTroGiup.Model1.ssdl|res://*/UserControls.UCTroGiup.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-K0913AQ\SQLEXPRESS;initial catalog=DBQuanLyKyTucXa;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="DBQuanLyKyTucXaEntities2" connectionString="metadata=res://*/UserControls.UCTroGiup.Model1.csdl|res://*/UserControls.UCTroGiup.Model1.ssdl|res://*/UserControls.UCTroGiup.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-K0913AQ\SQLEXPRESS;initial catalog=DBQuanLyKyTucXa;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
  </connectionStrings>
  <userSettings>
    <QuanLyKTX.Properties.Settings>
      <setting name="users" serializeAs="String">
        <value>admin</value>
      </setting>
      <setting name="pass" serializeAs="String">
        <value>admin</value>
      </setting>
      <setting name="isCheckMemory" serializeAs="String">
        <value>True</value>
      </setting>
    </QuanLyKTX.Properties.Settings>
  </userSettings>
</configuration>