<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QuanLyKTX.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <userSettings>
        <QuanLyKTX.Properties.Settings>
            <setting name="users" serializeAs="String">
                <value />
            </setting>
            <setting name="pass" serializeAs="String">
                <value />
            </setting>
        </QuanLyKTX.Properties.Settings>
    </userSettings>
</configuration>